asposestorage==1.0.2
mss==10.1.0
numpy==2.3.3
Pillow==11.3.0
psutil==7.0.0
pygame==2.6.1
PyQt5==5.15.11
PyYAML==6.0.2
qdarkstyle==3.2.3
torch==2.8.0
ultralytics==8.3.199
utils==1.0.2
pandas==2.3.2
tqdm==4.67.1